@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide Google Translate Top Bar */

body > .skiptranslate {
  display: none !important;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

iframe.goog-te-banner-frame {
  display: none !important;
}

/* Prevent page shift */

body {
  top: 0px !important;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 1s ease forwards;
}

/* Body default font */
body {
  font-family: var(--font-inter), sans-serif;
}

/* Headings luxury font */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), serif;
}